From: Your Name Here <sender@domain.tld>
Subject: Enter Your Subject Here
This is an email message template used for the script.

This is the body of the email.

Modify the From:, Subject:, and message body as desired.
